.border-left-0{
    border-color: #c2cfd6;
}

.logo-gmail{
    width: 23px;
}

.login-card{
    width: 470px;
}

.gmail-button, .login-button{
    background-color:#08f;
    color: white;
}

.show-email-error{
    background-color: #ffffff;
}

.icon-eye {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;    
}

.icon-eye:hover{
    cursor: pointer;
}

